<main>
    <div id="profile">
        <h1>{{name}}</h1>
        <nav id="header">
            <img src="{{imgProfile}}" alt="">
        </nav>
    </div>
    <section class="box">
        <div id="image">
            <h1>{{namePintura1}}</h1>
            <img src="{{imgPintura1}}" alt="">
        </div>
        <div id="image">
                <h1>{{namePintura2}}</h1>
            <img src="{{imgPintura2}}" alt="">
        </div>
        <div id="image">
                <h1>{{namePintura3}}</h1>
            <img src="{{imgPintura3}}" alt="">
        </div>
        <div id="image">
                <h1>{{namePintura4}}</h1>
            <img src="{{imgPintura4}}" alt="">
        </div>
        <div id="image">
                <h1>{{namePintura5}}</h1>
            <img src="{{imgPintura5}}" alt="">
        </div>
    </section>
</main>
<!--Created by Leonardo Isaac Meledez Jaloma-->
